.tooltip::after {
    content: "Nema proizvoda u košarici";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-1rem);
    padding: 0.5rem;
    background-color: black;
    color: white;
    font-size: 0.75rem;
    border-radius: 0.25rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, transform 0.5s, visibility 0.5s;
}

.tooltip:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-1.5rem);
    visibility: visible;
}